<div class="container box">
  <div class="row quote-box">
    <div class="col-sm-11">
      <p class="quote">{{quote.text}}</p>
      <p class="author">- {{quote.author}}</p>
    </div>
    <div class="col-sm-1">
      <a (click)="delete()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 vote">
      <div class="upvote" (click)="upvote()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>
      </div>
      <p class="votes">{{quote.votes}}</p>
      <div class="downvote" (click)="downvote()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
      </div>
    </div>
    <div class="col-sm-9 submission-date">
      <p class="date">Submitted {{quote.date | date}} days ago by {{quote.username}}</p>
    </div>
  </div>
</div>
