<div class="container-fluid categories">
  <div class="row categories-title-section">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <!-- TITLE OF CATEGORIES SECTION -->
      <p class="section-title">Popular Categories</p>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <!-- ADD QUOTE -->
      <app-add-quote></app-add-quote>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row categories-images-section">
    <!-- CATEGORIES -->
    <div class="col-sm-2"></div>
    <div class="col-sm-8 category-images">
      <app-category *ngFor="let category of categories1; index as categoryId" [details]="categories1[categoryId]" [routerLink]="['/categories', categoryId]">

      </app-category>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
