.categories {
  padding-bottom: 60px;
}

.section-title {
  font-size: 26px;
  font-weight: bold;
  color: var(--text1);
}

.categories-title-section {
  padding-top: 90px;
}

@media (min-width: 576px) {
  .category-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .category-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.categories-images-section {
  padding-top: 30px;
}
