.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.title-section button {
  height: 50px;
  background-color: var(--main);
  border: 1px solid var(--main);
}

.title-section h1 {
  font-size: 50px;
}

.title-section h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 15px;
}
